.center {
	text-align:center;
}

h1 {
	color:white;
	font-size:100;
}

img.centered-image {
    display:block; 
    margin-left: auto;
    margin-right: auto;
}

marquee {
	color:white;
	font-size:100;
}

a {
	color:green;
	font-size:25;
}
a:visited {
	color:red;
}